<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to the Newton's <%= title %> Page</h1>

  <nav>
    <a href="/">Home</a> |
    <a href="/dnd">D&D</a> |
    <a href="/gamedev">Game Dev</a> |
    <a href="/kpop">K-Pop</a> |
    <a href="/users">Users</a>
  </nav>

  <img src="/images/gamedev.jpg" alt="Game Dev Image" width="300"/>

  <section>
    <h2><%= title %></h2>
    <p>I’m passionate about building games in Unity—from roguelike deckbuilders to experimental simulations. Game dev gives me the creative freedom to blend logic, aesthetics, and interactivity into systems that feel alive.</p>
  </section>

  <footer>
    <p>This site was built using Node.js, Express.js and EJS templates by Newton</p>
  </footer>
</body>
</html>
