<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Newton’s K-Pop Page</h1>

  <nav>
    <a href="/">Home</a> |
    <a href="/dnd">D&D</a> |
    <a href="/gamedev">Game Dev</a> |
    <a href="/kpop">K-Pop</a>
  </nav>

  <img src="/images/kpop.jpg" alt="K-Pop Image" width="300"/>

  <section>
    <h2><%= title %></h2>
    <p>Whether it's the choreography, stage design, or storytelling in music videos, K-Pop is a huge creative influence for me. I love how performance, fashion, and emotion all come together in this genre.</p>
  </section>

  <footer>
    <p>This site was built using Node.js, Express.js and EJS templates by Newton</p>
  </footer>
</body>
</html>
